@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Poppins:wght@500&display=swap');

:root{
    --main-color: rgb(237,70,48);
    --text-color: rgb(10,23,52);
    --bg-color: #fff;
    --dark-color: rgb(25,25,24);
    --other-blue: rgb(0,51,97);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
section{
    padding: 4rem 0 2rem;
}

img{
    width: 100%;
}

body{
    color: var(--text-color);
}

.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header a{
    text-decoration: none;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

.menuIcon{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

.navLogo{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}

.navLogo span{
    color: var(--main-color);
}

.navBarUl{
    display: flex;
    column-gap: 2rem;
}

.navBarUl a{
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navBarUl a:hover, .navBarUl .active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);    
}

.searchBox{
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background: var(--bg-color);
    box-shadow: 4px 4px 20px grey;
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}

.searchBox.active{
    clip-path: circle(144% at 100% 0%);
}

.searchBox input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
}