@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Poppins:wght@500&display=swap');

:root{
    --main-color: rgb(237,70,48);
    --text-color: rgb(10,23,52);
    --bg-color: #fff;
    --dark-color: rgb(25,25,24);
    --other-blue: rgb(0,51,97);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

img{
    width: 100%;
}

body{
    color: var(--text-color);
}

.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

.menuIcon{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

.navLogo{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}
